<section class="destacados">
  <p class="destacadosTitle">DESTACADOS</p>
  <div class="destacadosGuide">
    <i class="fas fa-angle-left prevDestacados"></i>
  <article class="destacado">
    <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="destacadoImg"></a>
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$21.337,53</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$384.072,58</p>
    </div>
  </article>
  <article class="destacado">
    <img src="images/f-home/destacado Home 2.jpg" class="destacadoImg">
    <p class="destacadoBrand">HARTKE SYSTEMS</p>
    <p class="destacadoName">Pedal Hartke HI77 Bass Looper 99</br>Bancos Memoria 6 Hrs USB</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$864,72</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$15,565,09</p>
    </div>
  </article>
  <article class="destacado">
    <img src="images/f-home/destacado Home 3.jpg" class="destacadoImg">
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Amplificador Fender Champion</br>100 Watts De Guitarra Efectos</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$3.108,29</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$55.949,28</p>
    </div>
  </article>
  <article class="destacado">
    <img src="images/f-home/destacado Home 4.jpg" class="destacadoImg">
    <p class="destacadoBrand">JUPITER</p>
    <p class="destacadoName">Trompeta Jupiter Bb Pistones</br>De Nickel + Estuche Jtr500</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$3.544,60</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$63.802,88</p>
    </div>
  </article>
  <article class="destacado">
    <img src="images/f-home/destacado Home 5.jpg" class="destacadoImg">
    <p class="destacadoBrand">PEARL</p>
    <p class="destacadoName">Batería Acústica Pearl</br>Roadshow 18' de 5 Cuerpos</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$4.897,14</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$88.164,63</p>
    </div>
  </article>
  
  <i class="fas fa-angle-right nextDestacados"></i>

</section>