<section class="destacados">
  <p class="destacadosTitle">DESTACADOS</p>
  <div class="destacadosGuide">
    <i class="fas fa-angle-left prevDestacados"></i>
  <article class="destacado">
    <a href="/productDetail/27"><img src="images/f-home/destacado Home 1.jpg" class="destacadoImg"></a>
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$21.337,53</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$384.072,58</p>
    </div>
  </article>
  <article class="destacado">
    <a href="/productDetail/32">
    <img src="images/f-home/destacado Home 2.jpg" class="destacadoImg"></a>
    <p class="destacadoBrand">HARTKE SYSTEMS</p>
    <p class="destacadoName">Pedal Hartke HI77 Bass Looper 99</br>Bancos Memoria 6 Hrs USB</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$988,47</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$17.792,62</p>
    </div>
  </article>
  <article class="destacado">
    <a href="/productDetail/31">
    <img src="images/f-home/destacado Home 3.jpg" class="destacadoImg"></a>
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Amplificador Fender Champion</br>100 Watts De Guitarra Efectos</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$3.553,12</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$63.956,18</p>
    </div>
  </article>
  <article class="destacado">
    <a href="/productDetail/34">
    <img src="images/f-home/destacado Home 4.jpg" class="destacadoImg"></a>
    <p class="destacadoBrand">JUPITER</p>
    <p class="destacadoName">Trompeta Jupiter Bb Pistones</br>De Nickel + Estuche Jtr500</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$4.051,87</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$72.933,71</p>
    </div>
  </article>
  <article class="destacado">
    <a href="/productDetail/33">
    <img src="images/f-home/destacado Home 5.jpg" class="destacadoImg"></a>
    <p class="destacadoBrand">PEARL</p>
    <p class="destacadoName">Batería Acústica Pearl</br>Roadshow 18' de 5 Cuerpos</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$5.933,85</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$106.809,36</p>
    </div>
  </article>
  
  <i class="fas fa-angle-right nextDestacados"></i>

</section>