<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/f-logo/favicon.png">
    <title>Jamming Store</title>
    <script src="https://kit.fontawesome.com/29e46bb5b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet" />
</head>