<header>
    <a href="/" ><img src="/images/f-logo/logo-j-blanco.png" class="logo" /></a>
    <nav class="topNav">
        <ul class="headerShortcuts">
            <% if (locals.user == undefined ){ %>
                <li class="headerLi"><a href="/">Home</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/productList">Productos</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/contact">Contacto</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/login">Ingresar</a></li>
            <% } else if ( locals.user.category_id == 1|| locals.user.category_id == undefined){ %>
                <li class="headerLi"><a href="/">Home</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/productList">Productos</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/contact">Contacto</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/profile/<%= user.id %>">¡Hola <%= locals.user.name %>!</a></li>
            <%  } else if  (locals.user.category_id == 2) { %>
                <li class="headerLi"><a href="/">Home</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/productList">Productos</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="profile/<%= user.id %>">¡Hola <%= locals.user.name %>!</a></li>
                <span class="separatorLines"></span>
                <li class="headerLi"><a href="/create">Crear un nuevo producto</a></li>
            <% }  %>
        </ul>
        </div>
    </nav>
    
    <div>
        <input type="text" class="searchBar" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" />
    </div>


    <% if (locals.user ) {%>
        <form action="/logout" method="POST">
        <button class="salir" ><i class="fas fa-sign-out-alt"> </i>Logout</button>
        </form>
    <%} %>
    <a href="/productCart"><i class="fas fa-shopping-bag iconHeader"></i></a>
</header>