<header>
  <img src="images/f-logo/logo-j-blanco.png" class="logo"/>
    <nav class="topNav">
      <ul class="headerShortcuts">
        <li class="headerLi"><a href="/">Home</a></li>
        <span  class="separatorLines"></span>
        <li class="headerLi"><a href="/productCart">Productos</a></li>
        <span  class="separatorLines"></span>
        <li class="headerLi"><a href="/register">Registrarse</a></li>
        <span  class="separatorLines"></span>
        <li class="headerLi"><a href="/login">Mi Cuenta</a></li>
        <span  class="separatorLines"></span>
        <li class="headerLi"><a href="/contact">Contacto</a></li>
      </ul>
    </div>
    </nav>
    <div>
      <input type="text" class="searchBar" placeholder="&#xF002;" style="font-family:Arial, FontAwesome"/>
    </div>
    <a href="/productCart"><i class="fas fa-shopping-bag iconHeader"></i></a>
  </header>