<div class="navegador">
    <ul class="links m-left d-flex f-direction-r">
        <li class="m-right navLi"><a href="#">Cuerdas <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right navLi"><a href="#">Pianos y Teclados <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right navLi"><a href="#">Vientos <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right navLi"><a href="#">Baterías y Percusión <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right navLi"><a href="#">Sonido <i class="fas fa-chevron-down"></i></a></li>
        <% if(locals.user){ %>
            <p class="m-right navLi"> Hola
                <%= locals.user %>
            </p>
            <% } %>
    </ul>
</div>