<div class="navegador" id="menu">
    <ul class="links m-left d-flex f-direction-r">
        <li class="m-right navLi"><a href="#">Cuerdas <i class="fas fa-chevron-down"></i></a>
        <ul>
            <li class="m-right navLi"><a href="/search?search=Guitarra">Guitarras</a></li>
            <li class="m-right navLi"><a href="/search?search=Bajo">Bajos</a></li>
            <li class="m-right navLi"><a href="/search?search=Violin">Violines</a></li>
            <li class="m-right navLi"><a href="/search?search=Ukelele">Ukeleles</a></li>
            <li class="m-right navLi"><a href="/search?search=Pedal">Pedales</a></li>
            <li class="m-right navLi"><a href="/search?search=Cello">Cellos</a></li>
            </ul>
        </li>
        <li class="m-right navLi"><a href="#">Pianos y Teclados <i class="fas fa-chevron-down"></i></a>
            <ul>
                <li class="m-right navLi"><a href="/search?search=Piano">Pianos</a></li>
                <li class="m-right navLi"><a href="/search?search=teclado">Teclados</a></li>
                <li class="m-right navLi"><a href="/search?search=Accesorio">Accesorios</a></li>
                </ul></li>
        <li class="m-right navLi"><a href="#">Vientos <i class="fas fa-chevron-down"></i></a>
            <ul>
                <li class="m-right navLi"><a href="/search?search=trompeta">Trompetas</a></li>
                <li class="m-right navLi"><a href="/search?search=Flauta">Flautas</a></li>
                <li class="m-right navLi"><a href="/search?search=Armonica">Armonicas</a></li>
                <li class="m-right navLi"><a href="/search?search="></a></li>
            </ul>
        </li>
        <li class="m-right navLi"><a href="#">Baterías y Percusión <i class="fas fa-chevron-down"></i></a>
            <ul>
                <li class="m-right navLi"><a href="/search?search=bateria">Baterias</a></li>
                <li class="m-right navLi"><a href="/search?search=Redoblante">Redoblantes</a></li>
                <li class="m-right navLi"><a href="/search?search=Timbaleta">Timbaletas</a></li>
                <li class="m-right navLi"><a href="/search?search=Cortina">Cortinas</a></li>
        </ul>
    </li>
        <li class="m-right navLi"><a href="#">Sonido <i class="fas fa-chevron-down"></i></a>
            <ul>
                <li class="m-right navLi"><a href="/search?search=Amplificador">Amplificadores</a></li>
                <li class="m-right navLi"><a href="/search?search=Microfono">Microfonos</a></li>
                <li class="m-right navLi"><a href="/search?search=Mixer">Mixers</a></li>
                <li class="m-right navLi"><a href="/search?search=Consola">Consolas</a></li>
        </ul>
    </li>
    </ul>
</div>