<section class="destacados">
    <p class="destacadosTitle">RECOMENDADOS</p>
    <div class="destacadosGuide">
      <i class="fas fa-angle-left prevDestacados"></i>
    <article class="destacado">
      <a href="/productDetail/35">
      <img src="/images\f-productDetail\recomendados-1.jpg" class="destacadoImg"></a>
      <p class="destacadoBrand">JACKSON</p>
      <p class="destacadoName">Guitarra Eléctrica Jackson</br>Js11 Dinky Tremolo Rw</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$2.413,40</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$43.441,37</p>
      </div>
    </article>
    <article class="destacado">
      <a href="/productDetail/27">
      <img src="/images\f-productDetail\recomendados-2.jpg"  class="destacadoImg"></a>
      <p class="destacadoBrand">FENDER</p>
      <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    <article class="destacado">
      <a href="/productDetail/28">
      <img src="/images\f-productDetail\recomendados-3.jpg" class="destacadoImg"> </a>
      <p class="destacadoBrand">SQUIER</p>
      <p class="destacadoName">Guitarra Eléctrica Squier <br> Telecaster Affinity Vintage</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$3.468,94</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$62.440,98</p>
      </div>
    </article>
    <article class="destacado">
      <a href="/productDetail/29">
      <img src="/images\f-productDetail\recomendados-4.jpg" class="destacadoImg"></a>
      <p class="destacadoBrand">SQUIER</p>
      <p class="destacadoName">Guitarra Electrica Squier By Fender</br>Contemporary Telecaster</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    <article class="destacado">
      <a href="/productDetail/30">
      <img src="/images\f-productDetail\recomendados-5.jpg" class="destacadoImg"></a>
      <p class="destacadoBrand">ONAS</p>
      <p class="destacadoName">Guitarra Electrica Onas Frizz Bolt On</br>Cuerpo De Roble Blanco</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>S
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    
    <i class="fas fa-angle-right nextDestacados"></i>
  
  </section>