<section class="destacados">
    <p class="destacadosTitle">RECOMENDADOS</p>
    <div class="destacadosGuide">
      <i class="fas fa-angle-left prevDestacados"></i>
    <article class="destacado">
      <img src="/images\f-productDetail\recomendados-1.jpg" class="destacadoImg">
      <p class="destacadoBrand">FENDER</p>
      <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    <article class="destacado">
      <img src="/images\f-productDetail\recomendados-2.jpg" class="destacadoImg">
      <p class="destacadoBrand">FENDER</p>
      <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    <article class="destacado">
      <img src="/images\f-productDetail\recomendados-3.jpg" class="destacadoImg">
      <p class="destacadoBrand">FENDER</p>
      <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    <article class="destacado">
      <img src="/images\f-productDetail\recomendados-4.jpg" class="destacadoImg">
      <p class="destacadoBrand">FENDER</p>
      <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    <article class="destacado">
      <img src="/images\f-productDetail\recomendados-5.jpg" class="destacadoImg">
      <p class="destacadoBrand">FENDER</p>
      <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
      <p class="destacadosCuotas">18 cuotas sin interés de</p>
      <p class="destacadoPrecio">$21.337,53</p>
      <div class="precioFinalDiv">
      <p style="font-size: 13px">Precio final: </p>
      <p class="destacadoprecioFinal">$384.072,58</p>
      </div>
    </article>
    
    <i class="fas fa-angle-right nextDestacados"></i>
  
  </section>