<!DOCTYPE html>
<html>
<%- include('./partials/head')%>

    <body>

        <%- include('./partials/header')%>

            <main id="main-contact">

                <div class="card-contact">
                    <div class="card-left-contact">
                        <div class="card-logo">
                            <img src="images/f-logo/logo-j-color.png" alt="logo">
                        </div>
                        <div class="card-title-login">
                            <h1>Contacto</h1></div>
                            <div>
                            <h5>Atencion de Lunes a Sabado</h5>
                            <div >
                            <p class="card-parrafo-login"><i class="fas fa-phone-alt"></i> +54 11 15-698-652</p></div>
                            <div>
                            <p class="card-parrafo-login"><i class="fas fa-envelope" ></i>  jammingstore@gmail.com</p></div>
                            <div>
                            <p class="card-parrafo-login"><i class="fas fa-map-marker-alt"></i> Depósito Loyola 145 CP 1414, Villa Crespo</p></div>
                          
                        </div>

                        
                                <form action="/mensajeEnviado"  method="POST" class="card-form" id="form">
                                    <div class="all-inputs">

                                      <div class="form-field-contact">
                                        
                                        <input type="text" id="nombre" name="nombre" placeholder="Nombre y Apellido"  focus>
                                    
                                            
                                        <input type="text" id="asunto" name="asunto" placeholder="Asunto"  >
                                            
                                        </div>

                                      <div class="form-field-contact">
                                        
                                        <input type="number" id="telefono" name="telefono" placeholder="Telefono">
                                   
                                            
                                        <input type="email" id="email" name="email" placeholder="Email">
                                            
                                        </div>
                                     
                                        <div >
                                            
                                            <textarea class="textarea" rows="6" cols="75" name="mensaje"  placeholder="Mensaje"></textarea>
                                              <div class="form-button">
                                             <button>Enviar</button>
                                              </div>
                                        </div>
                                    </div>
                                        

                                        
                                    
                                    
                                </form>

                                
                                


                                </div>
                                <div class="card-right-contact">
                                  <img src="images/f-contact/seguinos.png" >
                              </div>
                              
                    </div>
                    
                </div>
            </main>

            <%- include('./partials/footer')%>

    </body>

</html>