<!DOCTYPE html>
<html>
<%- include('./partials/head')%>

  <body>
    <%- include('./partials/header')%>

      <%- include('./partials/nav')%>


        
      <!--<article class="contacto">
        <br><h1 >Contacto</h1><br>
        <p class="info-contacto"><i class="fas fa-phone-alt"></i> +54  11 4564 87 89</p><br>
        <p class="info-contacto"><i class="far fa-envelope"></i>  jammingstore@gmail.com</p><br>
        <p class="info-contacto"><i class="fas fa-map-marker-alt"></i> Deposito : Loyola 1455 CP 1414, <br> Villa Crespo. </p><br>
        </article>
    
      <div class="banner-contact-container">
        <img class="banner-contact" src= "\images\f-contact\seguinos.png">
        </div>-->
        
        <img class="contacto-temporal" src= "\images\f-contact\contact.png" >

<hr class="division" -->

        <%- include('./partials/footer')%>
  </body>

</html>