<!DOCTYPE html>
<html>
<%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>



            <main class="mainCreate-Edit">

                <div class="card-login">
                    <div class="card-left-login">
                        <div class="card-logo">
                            <img src="images/f-logo/logo-j-color.png" alt="logo">
                        </div>
                        <div class="card-title-login">
                            <h1>Felicitaciones ya estas registrado!!!!</h1>
                        </div>

                        <div class="card-parrafo-login">
                            <a href="/login">INGRESAR</a>
                        </div>

                        <div class="card-left-footer">
                            <p>Log in with</p>
                            <div class="links-network">
                                <a href="https://www.google.com.ar"><i class="fab fa-google"></i></a>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></i></a>
                                <a href="https://twitter.com/login?lang=es"><i class="fab fa-twitter"></i></i></a>
                            </div>


                        </div>
                    </div>
                    <!--
            <div class="card-right-login">
                <img src="/images/foto REGISTRO.jpg" alt="foto guitarra">
            </div>
            -->
                </div>
            </main>
            <%- include('./partials/footer')%>

    </body>

</html>