<!DOCTYPE html>
<html>
  <%- include('./partials/head')%>

  <body>
    <%- include('./partials/header')%>

    <!--Contenedor del slideshow-->
    <div class="slideshow-container">
      <!--Imágenes-->
      <div class="mySlides fade">
        <img src="images/f-home/fondo-home-1.jpg" style="width: 100%" />
        <div class="captionText">INSTRUMENTOS MUSICALES</br>Y AUDIO PROFESIONAL.</div>
      </div>
      <div class="slideshowItemMainContainer">
      <div class="slideshowItemContainer">
        <p class="slideshowItemTitle">COMPRÁ ONLINE</p>
        <p class="slideshowItemText">INSTRUMENTOS Y ACCESORIOS.</p>
      </div>
      <div class="slideshowItemContainer">
        <p class="slideshowItemTitle">PAGOS</p>
        <p class="slideshowItemText">TE OFRECEMOS MUCHAS OPCIONES</br>DE PAGO Y CUOTAS.</p>
      </div>
      <div class="slideshowItemContainer">
        <p class="slideshowItemTitle">ENVÍOS A DOMICILIO</p>
        <p class="slideshowItemText">LLEVAMOS TU PRODUCTO A</br>CUALQUIER LUGAR DEL PAÍS.</p>
      </div>
    </div>
      <div class="mySlides fade">
        <img src="images/f-home/fondo-home-2.jpg" style="width: 100%" />
        <div class="captionText">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <img src="images/f-home/fondo-home-3.jpg" style="width: 100%" />
        <div class="captionText">Caption Three</div>
      </div>

      <!-- Botones para avanzar-->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br />

    <!-- Los puntitos de por cuál va -->
    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <script>
      var slideIndex = 1;
      showSlides(slideIndex);

      // Controles de avanzar
      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      // Controles de la imagen
      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
      }
    </script>
    
    <%- include('./partials/destacados')%>
  
    <section class="categorias">
      <article class="homeCategory">
        <img src="images/f-home/c-home-1.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryNameOneLine">CUERDAS</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-2.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryName">PIANOS Y</br>TECLADOS</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-3.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryNameOneLine">VIENTOS</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-4.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryName">BATERÍAS Y</br>PERCUSIÓN</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-5.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryNameOneLine">SONIDO</p>
        </div>
      </article>
    </section>

  <%- include('./partials/footer')%>

  </body>
</html>