<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
    <title>Jamming Store</title>
    <script src="https://kit.fontawesome.com/29e46bb5b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>

  <body>
    <header>
    <img src="images/f-logo/logo-j-blanco.png" class="logo"/>
      <nav class="topNav">
        <ul class="headerShortcuts">
          <li class="headerLi"><a href="/">Home</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/productList">Productos</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/register">Registrarse</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/login">Mi Cuenta</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/contact">Contacto</a></li>
        </ul>
      </div>
      </nav>
      <div>
        <input type="text" class="searchBar" placeholder="&#xF002;" style="font-family:Arial, FontAwesome"/>
      </div>
      <a href="/productCart"><i class="fas fa-shopping-bag iconHeader"></i></a>
    </header>
    <!--Contenedor del slideshow-->
    <div class="slideshow-container">
      <!--Imágenes-->
      <div class="mySlides fade">
        <img src="images/f-home/fondo-home-1.jpg" style="width: 100%" />
        <div class="captionText">INSTRUMENTOS MUSICALES</br>Y AUDIO PROFESIONAL.</div>
      </div>
      <div class="slideshowItemMainContainer">
      <div class="slideshowItemContainer">
        <p class="slideshowItemTitle">COMPRÁ ONLINE</p>
        <p class="slideshowItemText">INSTRUMENTOS Y ACCESORIOS.</p>
      </div>
      <div class="slideshowItemContainer">
        <p class="slideshowItemTitle">PAGOS</p>
        <p class="slideshowItemText">TE OFRECEMOS MUCHAS OPCIONES</br>DE PAGO Y CUOTAS.</p>
      </div>
      <div class="slideshowItemContainer">
        <p class="slideshowItemTitle">ENVÍOS A DOMICILIO</p>
        <p class="slideshowItemText">LLEVAMOS TU PRODUCTO A</br>CUALQUIER LUGAR DEL PAÍS.</p>
      </div>
    </div>
      <div class="mySlides fade">
        <img src="images/f-home/fondo-home-2.jpg" style="width: 100%" />
        <div class="captionText">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <img src="images/f-home/fondo-home-3.jpg" style="width: 100%" />
        <div class="captionText">Caption Three</div>
      </div>

      <!-- Botones para avanzar-->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br />

    <!-- Los puntitos de por cuál va -->
    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <script>
      var slideIndex = 1;
      showSlides(slideIndex);

      // Controles de avanzar
      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      // Controles de la imagen
      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
      }
    </script>
    <section class="destacados">
      <p class="destacadosTitle">DESTACADOS</p>
      <div class="destacadosGuide">
        <i class="fas fa-angle-left prevDestacados"></i>
      <article class="destacado">
        <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="destacadoImg"></a>
        <p class="destacadoBrand">FENDER</p>
        <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
        <p class="destacadosCuotas">18 cuotas sin interés de</p>
        <p class="destacadoPrecio">$21.337,53</p>
        <div class="precioFinalDiv">
        <p style="font-size: 13px">Precio final: </p>
        <p class="destacadoprecioFinal">$384.072,58</p>
        </div>
      </article>
      <article class="destacado">
        <img src="images/f-home/destacado Home 2.jpg" class="destacadoImg">
        <p class="destacadoBrand">HARTKE SYSTEMS</p>
        <p class="destacadoName">Pedal Hartke HI77 Bass Looper 99</br>Bancos Memoria 6 Hrs USB</p>
        <p class="destacadosCuotas">18 cuotas sin interés de</p>
        <p class="destacadoPrecio">$864,72</p>
        <div class="precioFinalDiv">
        <p style="font-size: 13px">Precio final: </p>
        <p class="destacadoprecioFinal">$15,565,09</p>
        </div>
      </article>
      <article class="destacado">
        <img src="images/f-home/destacado Home 3.jpg" class="destacadoImg">
        <p class="destacadoBrand">FENDER</p>
        <p class="destacadoName">Amplificador Fender Champion</br>100 Watts De Guitarra Efectos</p>
        <p class="destacadosCuotas">18 cuotas sin interés de</p>
        <p class="destacadoPrecio">$3.108,29</p>
        <div class="precioFinalDiv">
        <p style="font-size: 13px">Precio final: </p>
        <p class="destacadoprecioFinal">$55.949,28</p>
        </div>
      </article>
      <article class="destacado">
        <img src="images/f-home/destacado Home 4.jpg" class="destacadoImg">
        <p class="destacadoBrand">JUPITER</p>
        <p class="destacadoName">Trompeta Jupiter Bb Pistones</br>De Nickel + Estuche Jtr500</p>
        <p class="destacadosCuotas">18 cuotas sin interés de</p>
        <p class="destacadoPrecio">$3.544,60</p>
        <div class="precioFinalDiv">
        <p style="font-size: 13px">Precio final: </p>
        <p class="destacadoprecioFinal">$63.802,88</p>
        </div>
      </article>
      <article class="destacado">
        <img src="images/f-home/destacado Home 5.jpg" class="destacadoImg">
        <p class="destacadoBrand">PEARL</p>
        <p class="destacadoName">Batería Acústica Pearl</br>Roadshow 18' de 5 Cuerpos</p>
        <p class="destacadosCuotas">18 cuotas sin interés de</p>
        <p class="destacadoPrecio">$4.897,14</p>
        <div class="precioFinalDiv">
        <p style="font-size: 13px">Precio final: </p>
        <p class="destacadoprecioFinal">$88.164,63</p>
        </div>
      </article>
      
      <i class="fas fa-angle-right nextDestacados"></i>
  
    </section>
    <section class="categorias">
      <article class="homeCategory">
        <img src="images/f-home/c-home-1.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryNameOneLine">CUERDAS</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-2.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryName">PIANOS Y</br>TECLADOS</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-3.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryNameOneLine">VIENTOS</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-4.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryName">BATERÍAS Y</br>PERCUSIÓN</p>
        </div>
      </article>
      <article class="homeCategory">
        <img src="images/f-home/c-home-5.jpg" class="homeCategoryImg">
        <div class="homeCategoryNameHolder">
          <p class="homeCategoryNameOneLine">SONIDO</p>
        </div>
      </article>
    </section>
    <footer>
        <div>
        <a href="/productList"><p class="footerCategoryTitle">Productos</p></a>
        <div class="footerItemHolder">
        <p class="footerItem">Cuerdas</br>Pianos y Teclados</br>Vientos</p>
        <p class="footerItemEscaped">Baterías y Percusión</br>Sonido</p>
      </div>
      </div>
      <div>
        <p class="footerCategoryTitle">Atención</p>
        <p class="footerItem">Condiciones y Formas de Pago</br>Contacto</p>
      </div>
      <div>
        <p class="footerCategoryTitle">Contactános</p>
        <div class="footerItemHolder"></div>
        <div class="footerIconText"><i class="fas fa-phone-alt"></i> <p class="footerItemEscaped">+54 11 15-698-652</p></div>
        <div class="footerIconText"><i class="fas fa-envelope"></i> <p class="footerItemEscaped">jammingstore@gmail.com</p></div>
      </div>
    </div>
      <div class="footerLocation">
        <div class="footerIconText"><i class="fas fa-map-marker-alt"></i> <p class="footerItemEscaped">Depósito Loyola 145</br>CP 1414, Villa Crespo</p></div>
      </div>
    </footer>
  </body>
</html>
