<!DOCTYPE html>
<html>
 <%- include('./partials/head')%>

 <body>
   <%- include('./partials/header')%>

   <%- include('./partials/nav')%>

   <div class="section-title">
    <p>Carrito de compras</p>
</div>

<div class=" d-flex f-direction-r j-content">

    <section class= "cart-description m-left d-flex f-direction-r j-content padding-top">
    <div class="centro">
        <p>Producto</p>
        <img src="images/f-productCart/foto-guitarra-CART.jpg" width=20%/>
        <span class="float-r position-text">Guitarra Alectrica American <br> Elite Stratocaster Estuche Usa</span>
    </div>

    <div class="centro">
        <p>Precio</p>
        <p class="position-text">$384.075,58</p>
    </div>

    <div class="centro">
        <p>Cantidad</p>
        <p><input class="quantity position-text" type="number" min="1" max="10" value="1" name="form-0-quantuty"></p>
    </div>

    <div class="centro">
        <p>Total</p>
        <p class="position-text color-red">$384.075,58</p>
    </div>
      
        <i class="fas fa-trash-alt"></i>
    </section>

    <div class="total-cart d-flex f-direction-c">
        <p class="m-total font-weight">Total del Carrito</p>
        <p class="m-total color-gray">Subtotal<span class=" float-r font-weight color-black">$ 384.075,58</span></p>
        <p class="m-total m-botton color-gray">Envío</p>  
        <div class="d-flex f-direction-c align-items-end line-height m-total">
            <span><input class="radio-b" type="radio" name="envio" value="CABA">Envío CABA (en 24 hs.) $350</span>
            <span><input class="radio-b" type="radio" name="envio" value="DEPO">Retiro en el depósito (Lun a Vie de 11 a 15 hs.)</span>
            <span><input class="radio-b" type="radio" name="envio" value="GBA">Envío a Ciudad Autónoma de Buenos Aires $ 500</span>  
            </div> 
        <p class="text-end m-total font-weight">Cambiar dirección<i class="fas fa-chevron-down"></i></p> 
        <div class="divider"></div>
        <p class="m-total font-weight color-gray">TOTAL<span class="subtotal float-r font-weight color-black">$ 384.075,58</span></p>
        <button class="finalizar button-red font-weight" type="submit">FINALIZAR COMPRA</button> 
        
    </div>
</div>


    <div class="cupon m-left">
        <p style= "margin-bottom: 10px">Cupón de descuento</p>
        <label for= "cupon-descuento"></label>
        <input class="completar" type="text" name="cupon-descuento" placeholder="Escribe el código...">
        <button class="aplicar button-red" type="submit">APLICAR</button>   
    </div>
    
    <div class="medios-pago m-left">
        <p style= "margin-bottom: 10px">Medios de Pago</p>
        <img src="images/f-productCart/tarjetas-CART.jpg" width=50%/> 
    </div>
        

<%- include('./partials/footer')%>

    </body>
</html>