<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" />
    <title>Jamming Store</title>
    <link rel="icon" type="image/png" href="images\f-logo\favicon.png">
    <script src="https://kit.fontawesome.com/29e46bb5b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>

  <body>
    <header>
    <img src="images/f-logo/logo-j-blanco.png" class="logo"/>
      <nav class="topNav">
        <ul class="headerShortcuts">
          <li class="headerLi"><a href="/">Home</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="*">Productos</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/register">Registrarse</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/login">Mi Cuenta</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/contact">Contacto</a></li>
        </ul>
      </div>
      </nav>
      <div>
        <input type="text" class="searchBar" placeholder="&#xF002;" style="font-family:Arial, FontAwesome"/>
      </div>
      <a href="/productCart"><i class="fas fa-shopping-bag iconHeader"></i></a>
    </header>

    <div class= "navegador">
        <ul class="links m-left d-flex f-direction-r">
          <li><a href="#">Cuerdas</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Pianos y Teclados</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Vientos</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Baterías y Percusión</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Sonido</a><i class="fas fa-chevron-down"></i></li>
        </ul>
      </div> 
      <div class="sidebarAlignment">
      <div class="sidebar">
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Instrumentos</p>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Guitarras</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Bajos</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Vientos</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Baterías</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Percusión Varios</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Teclados</label>
        </div>
      <hr>
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Equipo</p>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Pedales</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Bandejas</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Placas de sonido</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Cables</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Accesorios</label>
        </div>
      <hr>
        <div class="sidebarCategory">
          <p class="sidebarCategoryTitle">Marcas</p>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Fender</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Epiphone</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Squier</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Pearl</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Hartke</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Ibanez</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Yamaha</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">SAMSON</label>
          <label class="sidebarItem"><Input type="checkbox" class="sidebarCheckbox">Gibson</label>
        </div>
      </div>
      <div class="pageBody">
      
      <div class="productListSubHeader">
      <p class="productTitle">Productos</p>
      <div class="productListNav">
        <div class="plNavItem">
          <p class="plNavItemText">Mostrando todos los resultados</p>
        </div>
        <div class="plNavItem">
          <p class="plNavItemText">Los más vendidos</p>
        </div>
        <div class="plNavItem">
          <label class="plNavItemLabel" for="orderBy"><select class="plNavSelect" name="orderBy">
            <option value="relevance">Relevancia</option>
            <option value="price">Precio</option>
            <option value="az">A-Z</option>
            <option value="new">Nuevo</option>
          </select></label>
        </div>
        <div class="plNavItem">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </div>
      
      <section class="products">
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        <article class="productCard">
          <a href="/productDetail"><img src="images/f-home/destacado Home 1.jpg" class="productImg"></a>
          <p class="productBrand">FENDER</p>
          <p class="productName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
          <p class="productCuotas">18 cuotas sin interés de</p>
          <p class="productPrecio">$21.337,53</p>
          <div class="precioFinalDiv">
          <p style="font-size: 13px">Precio final: </p>
          <p class="productprecioFinal">$384.072,58</p>
          </div>
        </article>
        </section>
        <div class="publicitySection">
          <div class="publictyBannerContainer">
            <img class="publicityBanner" source="">
          </div>
          <div class="publictyBannerContainer">
            <img class="publicityBanner" source="">
          </div>
          <div class="publictyBannerContainer">
            <img class="publicityBanner" source="">
          </div>
          <div class="publictyBannerContainer">
            <img class="publicityBanner" source="">
          </div>
        </div>
        <div class="partnerBrandsContainer">
          <img class="parnerBrandsImg">
        </div>
      <div class="networkBannerContainer">
        <img class="networkBanner" source="">
      </div>
    </div>
  </div>
      <footer>
        <div>
        <a href="productList.ejs"><p class="footerCategoryTitle">Productos</p></a>
        <div class="footerItemHolder">
        <p class="footerItem">Cuerdas</br>Pianos y Teclados</br>Vientos</p>
        <p class="footerItemEscaped">Baterías y Percusión</br>Sonido</p>
      </div>
      </div>
      <div>
        <p class="footerCategoryTitle">Atención</p>
        <p class="footerItem">Condiciones y Formas de Pago</br>Contacto</p>
      </div>
      <div>
        <p class="footerCategoryTitle">Contactános</p>
        <div class="footerItemHolder"></div>
        <div class="footerIconText"><i class="fas fa-phone-alt"></i> <p class="footerItemEscaped">+54 11 15-698-652</p></div>
        <div class="footerIconText"><i class="fas fa-envelope"></i> <p class="footerItemEscaped">jammingstore@gmail.com</p></div>
      </div>
    </div>
      <div class="footerLocation">
        <div class="footerIconText"><i class="fas fa-map-marker-alt"></i> <p class="footerItemEscaped">Depósito Loyola 145</br>CP 1414, Villa Crespo</p></div>
      </div>
    </footer>
</body>