<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <% user.forEach(function(user){ %>  

    <h1>Perfil de: <%= user.name %>, email: <%= user.email %></h1>




<% }) %>





</body>
</html>