<!DOCTYPE html>
<html>
<%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>



            <main class="mainCreate-Edit">

                <div class="card-register">
                    <div class="card-left-register">
                        <div class="card-logo">
                            <img src="images/f-logo/logo-j-color.png" alt="logo">
                        </div>
                        <div class="card-title-register">
                            <h1>Su compra fue realizada con exito!!!!</h1>
                        </div>

                        <div class="card-parrafo-register">
                            <p>Estas a un solo paso de comenzar la experiencia Jamming Store!</p>
                            <p>Comencemos! Te invitamos a iniciar sesion.</p>
                        </div>

                       <div class="card-parrafo-register">
                            <a href="/login" class="button-postRegister" >INICIAR SESION</a>
                        </div>

                         
                            <div class="card-left-footer">
                                   <!--<p>Log in with</p>
                                <div class="links-network">
                                <a href="https://www.google.com.ar"><i class="fab fa-google"></i></a>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></i></a>
                                <a href="https://twitter.com/login?lang=es"><i class="fab fa-twitter"></i></i></a>
                             -->
                            </div>
                           

                        </div>
                        <div class="card-right-register">
                            <img src="/images/f-register/postRegistro.png" alt="foto auriculares">
                        </div>
                </div>
                    
                    
            </main>
            <%- include('./partials/footer')%>

    </body>

</html>