<!DOCTYPE html>
<html>
 <%- include('./partials/head')%>

<body>
 <%- include('./partials/header')%>

 <main id="main-register">

    <div class="card-register">
        <div class="card-left-register">
            <div class="card-logo">
                <img src="images/f-logo/logo-j-color.png" alt="logo">
            </div>
            <div class="card-title-register">
                <h1>Crea tu usuario </h1>
            </div>

            <div class="card-parrafo-register">
                <p>Por favor, llena estos campos para poder registrarte</p>
            </div>
            <form action="#" class="card-form" method="">
                <div class="all-inputs">


                    <div class="form-field">
                        <label for=""></label>
                        <input type="text" name="nombre y apellido" placeholder="Nombre y Apellido">
                    </div>

                    <div class="form-field">
                        <label for=""></label>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <label for=""></label>
                        <input type="password" name="contrase単a" placeholder="Contrase単a">
                    </div>
                    <div class="form-field">
                        <label for=""></label>
                        <input type="password" name="confirmar contrase単a" placeholder="Confirmar contrase単a">
                    </div>

                    <div class="form-button">
                        <input type="submit" class="button-createuser" value="CREAR USUARIO">

                    </div>
                </div>
            </form>

        </div>
        <div class="card-right-register">
            <img src="images/f-register/foto REGISTRO.jpg" alt="foto guitarra">
        </div>
    </div>
</main>

<%- include('./partials/footer')%>

</body>

</html>