* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/*Header stlyes */

header {
  background-color: #1a192d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 250px;
  padding: 10px;
  margin-bottom: 5px;
}

.topNav {
  align-self: center;
}

.headerShortcuts {
  display: flex;
  flex-direction: row;
}

.headerLi {
  margin-left: 20px;
  list-style-type: none;
  color: white;
  font-size: 22px;
  font-weight: 300;
  border-right: 2px white;
}

.headerLi a {
  text-decoration: none;
}

.headerLi a:link {
  color: white;
}

.headerLi a:visited {
  color: white;
}

.headerLi a:hover {
  color: white;
}

.headerLi a:active {
  color: white;
}

.navLi a {
  text-decoration: none;
}

.navLi a:link {
  color: white;
}

.navLi a:visited {
  color: white;
}

.navLi a:hover {
  color: white;
}

.navLi a:active {
  color: white;
}

.separatorLines {
  display: inline-block;
  border-left: white solid 3px;
  margin-left: 15px;
  height: 25px;
  margin-top: 5px;
}

.searchBar {
  border-radius: 20px;
  background-color: #1a192d;
  border: 2px solid white;
  padding: 10px;
  width: 300px;
  color: white;
}

::placeholder:not(.form-field) {
  color: white;
  text-align: right;
  font-size: 20px;
}

.navSeparator {
  border-left: 2px;
  border-right: 2px;
  border-color: white;
}

/* Acá termina el header */

/* Slideshow de index */

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 700px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.captionText {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 700;
  padding: 8px 12px;
  position: absolute;
  bottom: 700px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.slideshowItemMainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.slideshowItemContainer {
  background-color: #1a192d;
  opacity: 0.9;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  bottom: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slideshowItemTitle {
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.slideshowItemText {
  color: white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotDiv {
  text-align: center;
  align-content: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Fin del carousel Home */

/* Destacados Home*/

.destacados {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.destacadosTitle {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.destacadosGuide {
  display: flex;
  flex-direction: row;
}

.destacado {
  width: 100%;
  box-shadow: black 2px;
  text-align: center;
}

.destacadoImg {
  width: 70%;
}

.destacadoBrand {
  font-weight: bold;
  font-size: 18px;
}

.destacadoName {
  font-weight: 500;
}

.destacadosCuotas {
  font-size: 11px;
  font-weight: 500;
}

.destacadoPrecio {
  font-weight: 900;
  font-size: 18px;
}

.precioFinalDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.destacadoprecioFinal {
  color: red;
  font-size: 16px;
  font-weight: 900;
}

.prevDestacados {
  color: black;
}

.nextDestacados {
  color: black;
}

/* Fin de destacados Home*/

/* Categorías Home */
.form-button-black {
  margin-top: 20px;
  margin-bottom: 15px;
  color:black;
  width: 15%;
  float:right;
}

.categorias {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-around;
}

.homeCategoryImg {
  width: 300px;
}

.homeCategoryNameHolder {
  bottom: 150px;
  position: relative;
  left: 120px;
  height: 60px;
  width: 180px;
  background-color: black;
  opacity: 80%;
  color: white;
}

.homeCategoryName {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.homeCategoryNameOneLine {
  top: 15px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

/* Fin de categorías Home */

/* Footer */

footer:not(.f-login-register) {
  background-color: #1a192d;
  /* margin-top: 150px;*/
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.footerItemHolder {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.footerCategoryTitle {
  font-size: 15px;
  font-weight: 900;
  text-align: left;
}

.footerItem {
  font-size: 12px;
}

.footerItemEscaped {
  margin-left: 10px;
  font-size: 12px;
}

.footerIconText {
  display: flex;
  flex-direction: row;
}

.footerLocation {
  align-self: center;
}

/*Fin del footer */

/* Register*/

#main-register {
  display: flex;
  justify-content: center;
  background-image: url(/images/f-register/fondo\ REGISTRO.jpg);
  background-size: cover;
}

.card-register {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
  height: auto;
}

.card-left-register {
  width: 50%;
  height: auto;
  background-color: white;
  padding-left: 4%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-logo img {
  width: 45%;
}

.card-title-register {
  font-size: 20px;
}

.card-parrafo-register {
  font-size: 15px;
  color: grey;
}

.form-field {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-field input {
  padding-left: 2px;
  width: 85%;
  height: 35px;
  font-size: 12px;
  border: 1px solid #dedede;
  margin-bottom: 5px;
  position: relative;
}
.form-field input:focus {
  outline: 0;
  padding-left: 2px;
  width: 85%;
  height: 35px;
  font-size: 12px;
  border: 1px solid #777;
  margin-bottom: 5px;
  position: relative;
}

.form-field.success input {
  border-color: #2ecc71;
  padding-left: 2px;
  width: 85%;
  height: 35px;
  font-size: 12px;
  margin-bottom: 5px;
  position: relative;
}

.form-field.error input {
  border-color: #e74c3c;
  padding-left: 2px;
  width: 85%;
  height: 35px;
  font-size: 12px;
  margin-bottom: 5px;
  position: relative;
}

.form-field i {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 100px;
}

.form-field.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-field.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.form-field small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-field.error small {
  visibility: visible;
}

.form-button {
  margin-top: 20px;
  margin-bottom: 15px;
}


.button-createuser {
  width: 35%;
  height: 30px;
  background-color: #e30613;
  font-size: 8px;
  color: white;
  border: none;
}

.card-right-register {
  display: flex;
  width: 50%;
}

.card-right-register img {
  height: auto;
  width: 100%;
}

@media (max-width: 425px) {
  .card-left-register {
    width: 100%;
    height: auto;
    background-color: white;
    padding-left: 4%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card-right-register {
    display: none;
  }
  .button-createuser {
    width: 38%;
    height: 30px;
    background-color: #e30613;
    font-size: 8px;
    color: white;
    border: none;
  }
}

/*Fin del Register*/

/* Login*/

.mainCreate-Edit {
  display: flex;
  justify-content: center;
  background-image: url(/images/f-login/fondo\ LOGIN.jpg);
  background-size: cover;
}
.mainWhite {
  display: flex;
  justify-content: center;
  background-color:white;
  background-size: cover;
  min-height: 530px;
}

#main-login {
  display: flex;
  justify-content: center;
  background-image: url(/images/f-login/fondo\ LOGIN.jpg);
  background-size: cover;
}
#main-contact {
  display: flex;
  justify-content: center;
  background-color: white;
  background-size: cover;
}

#em40 {
  height: 40em;
}

.card-login {
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}
.card-contact {
  width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-left-login {
  width: 50%;
  background-color: white;
  padding-left: 4%;
  padding-top: 2%;
  display: grid;
}

.card-left-contact {
  width: 65%;
    background-color: white;
    padding-left: 4%;
    padding-top: 2%;
    display: grid;

}

.card-logo img {
  width: 45%;
}

.card-title-login {
  font-size: 15px;
}

.card-parrafo-login {
  font-size: 15px;
  color: grey;
  margin-top: 5px;
  margin-bottom: 15px;
}

.check-recover {
  padding-top: 20px;
}

.checkbox {
  font-size: 12px;
  color: gray;
  margin-left: 0px;
}

.recover-password {
  font-size: 12px;
  color: black;
  margin-left: 92px;
  text-decoration: none;
  font-weight: bold;
}

.form-button {
  margin-top: 25px;
}

.button-login {
  width: 35%;
  height: 30px;
  background-color: #e30613;
  font-size: 8px;
  color: white;
  border: none;
  margin-right: 3px;
}

.button-signup {
  width: 35%;
  height: 30px;
  background-color: white;
  border: 1px solid #dedede;
  font-size: 8px;
  color: gray;
  text-decoration: none;
  text-align: center;
  padding: 10px 45px 10px 45px;
}
.button-postRegister {
  width: 35%;
  height: 30px;
  background-color: #e30613;
  border: 1px solid #dedede;
  font-size: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 45px 10px 45px;
  margin-bottom: 100px;
}

.button-link {
  color: gray;
  text-decoration: none;
}

.button-text {
  font-size: 8px;
  color: gray;
}

.card-left-footer p {
  text-align: center;
  color: grey;
  font-size: 10px;
  padding-top: 25px;
}

.links-network {
  text-align: center;
}

.links-network i {
  font-size: 25px;
  color: #dedede;
}

.card-right-login {
  display: flex;
  width: 50%;
}

.card-right-contact {
  display: flex;
  height: 800px;
  position: relative;
  left: 70px;
}

.card-right-contact img {
  width: auto;
  height: 700px;
}

.card-right-login img {
  width: 100%;
  height: auto;
}

@media (max-width: 425px) {
  .card-left-login {
    width: 100%;
    height: auto;
    background-color: white;
    padding-left: 4%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card-right-login {
    display: none;
  }
  .check-recover {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .recover-password {
    font-size: 12px;
    color: black;
    margin-left: 0px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
  }
}

/*Fin Login */

/*footer login y register, en este caso es la misma estructura para los 2*/

.f-login-register {
  background-color: #1a192d;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.footerItemHolder {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.footerCategoryTitle {
  font-size: 15px;
  font-weight: 900;
  text-align: left;
}

.footerItem {
  font-size: 12px;
}

.footerItemEscaped {
  margin-left: 10px;
  font-size: 12px;
}

.footerIconText {
  display: flex;
  flex-direction: row;
}

.footerLocation {
  align-self: center;
}

/*Estilos ProductDetail By Juli*/

/*.navegador {
  background-color: #16203d;
}

.links {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: space-around;
  margin: 0% 15%;
}*/

.galeria-producto {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-around;
  width: 10%;
  float: left;
  text-align: center;
}

.item-description {
  box-sizing: content-box;
  width: 30%;
  padding: 5px;
  position: relative;
  height: 600px;
  padding-right: 5%;
}

.precio-final {
  color: red;
  font-size: x-large;
  font-weight: bold;
  text-decoration: bold;
}

.product-detail {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.agregar-al-carrito {
  color: #10325e;
}

.payment-methods {
  margin-top: 100px;
  box-sizing: content-box;
  width: 24%;
  height: 500px;
  border: solid white 2px;
  border-radius: 35px;
  position: relative;
  vertical-align: bottom;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 2);
  text-align: center;
  align-items: end;
  border-radius: 35px;
}

.recomendados {
  text-align: center;
  color: rgb(175, 170, 170);
}

.division {
  color: lightgrey;
  align-items: center;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
}

#green-check {
  color: green;
  float: left;
  width: 25px;
  padding: 10px 10px 10px 10px;
  height: 25px;
}

.div-payment-methods {
  background: linear-gradient(-45deg, #fffffd 8px, transparent 0), linear-gradient(45deg, #ffffff 8px, transparent 0);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #10325e;
  background-size: 10px 16px;
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  color: white;
  padding-top: 35px;
  font-size: 20px;
  border-radius: 31px 31px 0% 0%;
}

.quick_desc {
  color: grey;
}

.img-payment-methods {
  position: center;
}

.payment-conditions1 {
  padding: 10px 10px 10px 10px;
  margin: 15px;
  background-color: rgb(233, 233, 233);
  text-align: left;
  font-size: 15px;
}

.payment-conditions2 {
  padding-left: 50px;
  text-align: left;
  font-size: 15px;
}

.calcular {
  border-radius: 0 20px 20px 0;
  border: 2px solid grey;
  width: 100px;
  height: 50px;
  color: white;
  background-color: grey;
  float: center;
}

.no-se-cp {
  font-size: 12px;
  text-align: left;
  color: grey;
  margin-left: 70px;
}

.cp {
  border-radius: 20px 0 0 20px;
  width: 200px;
  height: 50px;
  float: center;
}

/*Fin Estilos ProductDetail By Juli*/

/* CSS TUTE (productCART) */

.d-flex {
  display: flex;
}

.f-direction-r {
  flex-direction: row;
}

.f-direction-c {
  flex-direction: column;
}

.align-items {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.j-content {
  justify-content: space-around;
}

.m-left {
  margin-left: 40px;
}

.m-right {
  margin-right: 20px;
}

.m-top {
  margin-top: 6px;
}

.button-red {
  background-color: red;
  color: white;
}

.float-r {
  float: right;
}

.m-total {
  margin: 10px;
}

.centro {
  text-align: center;
}

.m-botton {
  margin-bottom: -20px;
}

.line-height {
  line-height: 32px;
}

.font-weight {
  font-weight: 600;
}

.color-red {
  color: red;
}

.color-gray {
  color: gray;
}

.color-black {
  color: black;
}

.back-color {
  background-color: yellow;
  height: 50px;
}

.navegador {
  background-color: #16203d;
  height: 39px;
}

.links {
  justify-content: flex-start;
  list-style: none;
  color: white;
  padding: 8px 0px;
}

.fa-chevron-down {
  padding: 0px 8px;
}

.cart-description {
  border: 2px solid lightgray;
  flex-grow: 1;
  margin-right: 4%;
  height: 174px;
}

.noTextDecoration {
  text-decoration: none;
  color:white;
}

.padding-top {
  padding-top: 20px;
}

.position-text {
  position: relative;
  top: 42px;
}

.fa-trash-alt {
  position: relative;
  top: 60px;
}

.section-title {
  font-size: 12px;
  margin: 20px 40px;
  color: gray;
}

.description-title {
  background-color: #e5e7e9;
  list-style: none;
  height: 30px;
}

.product-info {
  font-size: 14px;
  align-items: center;
}

.p-description {
  align-items: center;
}

.quantity {
  width: 50px;
  height: 30px;
  text-align: center;
}

.total-cart {
  font-size: 14px;
  background-color: #e5e7e9;
  margin-right: 50px;
  flex-grow: 0.1;
}

.text-end {
  text-align: end;
  color: red;
}

.finalizar {
  height: 50px;
  font-size: 16px;
  border: none;
  font-weight: 600;
}

.divider {
  border-bottom: 1px solid gray;
}

.cupon {
  width: 80%;
  font-size: 16px;
  font-weight: 600;
}

.completar {
  width: 200px;
  height: 30px;
}

.aplicar {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border: none;
}

.medios-pago {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
}

.radio-b {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

button {
  outline-color: lightgray;
}

/* FIN CSS tute */

/* css By Juli*/

.footer-pd {
  margin-top: 50px;
}

/* Fin Footer ProductDetail By Juli*/

/* Product List */

.sidebarAlignment {
  display: flex;
  flex-direction: row;
}

.pageBody {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.productListSubHeader {
  display: flex;
  flex-direction: column;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  margin-top: 5px;
  color: black;
}

.productTitle {
  font-weight: 600;
  font-size: 16px;
  margin-left: 5%;
}

.productListNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: lightgray;
}

.plNavItem {
  border-right: solid;
  border-right-width: 1px;
  border-right-color: lightgray;
  align-self: center;
  padding-right: 20px;
}

.plNavItemEscaped {
  align-self: center;
  padding-right: 20px;
}

.plNavItemText {
  font-size: 15px;
  color: gray;
}

.plNavItemLabel {
  font-size: 15px;
  color: gray;
}

.plNavSelect {
  margin-left: 5px;
}

.sidebar {
  display: flex;
  width: 15%;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  height: 600px;
  justify-content: space-around;
  padding-top: 80px;
}

.sidebarCategory {
  display: flex;
  flex-direction: column;
}

.sidebarCategoryTitle {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 15px;
}

.sidebarItem {
  text-decoration: none; 
  font-size: 14px;
  padding-bottom: 5px;

}

.sidebarCheckbox {
  text-decoration: none; 
  margin-right: 3px;
  color:#000000;
}

.pagination {
  display: inline-block;
  margin-top: 3px;
}

.pagination a {
  color: black;
  float: left;
  padding: 3px 9px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.pagination a.active {
  background-color: red;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: lightgray;
}
#editButton {
  position: relative;
  top: 35px;
  left: 5px;
  float:left;
}
.productsAdmin {
  justify-content: center;
  border-left: solid;
  border-top: solid;
  border-left-width: 1px;
  border-top-width: 1px;
  border-left-color:grey;
  border-top-color:grey;
}

.productCard {
  width: 400px;
  box-shadow: black 2px;
  text-align: center;
  margin-bottom: 10px;
}


.productImg {
  width: 300px;
  height: 300px;
  padding: 25px;
}
.productImgAdmin {
  width: 100px;
  height: 100px;
  padding: 25px;
  float: left
}

.productBrand {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 4px;
}

.productName {
  font-weight: 500;
  padding-bottom: 4px;
}

.productCuotas {
  font-size: 11px;
  font-weight: 500;
  padding-bottom: 4px;
}

.productPrecio {
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 4px;
}

.productPrecioFinalDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productprecioFinal {
  color: red;
  font-size: 16px;
  font-weight: 900;
}


.advertsSection {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
 
}

.advertBannerContainer {
  width: 50%;
  height: 50%;
}

.advertBanner {
  width: 99%;
  height: 95%;
}

.partnerBrandsContainer {
  align-self: center;
}

.networkBannerContainer {
  width: 100%;
  height: 80%;
}

.networkBanner {
  width: 100%;
  height: 80%;
}

.btn-primary {
  display: inline-flexbox;
  padding: 13px;
  background-color: #10325e;
  color: #ffffff;
  fill: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 30px;
  float: center;
  width: 30%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.product-qty {
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000000;
  fill: #000000;
  background-color: #ffffff;
  width: 20%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.banner-contact-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  vertical-align: right;
  float: right;
  box-sizing: content-box;
}

.banner-contact {
  height: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  vertical-align: bottom;
  float: right;
}
.contacto {
  float: letf;
  padding: 25px;
}

.image-contact{
  width: 30%;
}

.contacto-temporal {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.textarea {
  border: 1px solid #dedede;
}
.main-Edit {
  display: flex;
  justify-content: center;
  background-image: url(/images/f-login/fondo\ LOGIN.jpg);
  background-size: cover;
  height: 100%;
}

/* Font Awesome Icons Styling */

.iconEdit {
  color: black;
}
.iconHeader {
  color: white;
  font-size: 30px;
}
.salir {
  margin-left: 20px;
  list-style-type: none;
  color: white;
  font-size: 25px;
  font-weight: 300;
  background-color: #1a192d;
  border: transparent;
}
.card-edit {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}
.card-left-edit {
  width: 100%;
  height: auto;
  background-color: white;
  padding-left: 4%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-logo-edit img {
  width: 15%;
  padding-bottom: 30px;
}
.form-field-edit input {
  padding-left: 2px;
  width: 70%;
  float: right;
  height: 35px;
  font-size: 12px;
  border: 1px solid #dedede;
  margin-right: 40px;
  margin-bottom: 7px;
}
.form-field-edit {
  height: 50px;
  padding-top: 15px;
}
.form-field-edit-desc {
  height: 150px;
  padding-top: 15px;
}
.textarea-desc {
  float: right;
  margin-right: 40px;
  align-items: right;
  width: 70%;
}
.edit-buttons{
  padding-bottom: 15px;
}
.form-field-edit{
  margin-right: 10px;
  align-items: right;
  
}

.textarea-desc{
  margin-right: 40px;
  align-items: right;
}
.form-field-contact input {
  padding-left: 2px;
  width: 40%;
  height: 35px;
  font-size: 12px;
  border: 1px solid #dedede;
  margin-bottom: 5px;
  position: relative;
}

/* menu */

#menu ul {
  list-style:none;
  margin:0;
  padding:0;
 }
 
 /* items del menu */
 
 #menu ul li {
  background-color:#16203d;
 }
 
 /* enlaces del menu */
 
 #menu ul a {
  display:block;
  color:#fff;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  letter-spacing:1px;
 }
 
 /* items del menu */
 
 #menu ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
 }
 
 /* efecto al pasar el ratón por los items del menu */
 
 #menu ul li:hover {
  background:#5b78a7;
 }
/* menu desplegable */

#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#eee;
  padding:0;
 }
 
 /* items del menu desplegable */
 
 #menu ul ul li {
  float:none;
  width:150px
 }
 
 /* enlaces de los items del menu desplegable */
 
 #menu ul ul a {
  line-height:120%;
  padding:10px 15px;
 }
 
 /* items del menu desplegable al pasar el ratón */
 
 #menu ul li:hover > ul {
  display:block;
 }