* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/*Header stlyes */
header {
  background-color: #1a192d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 250px;

  padding: 10px;
}
.iconHeader {
  color: white;
  font-size: 30px;
}
.topNav {
  align-self: center;
}
.headerShortcuts {
  display: flex;
  flex-direction: row;
}
.headerLi {
  margin-left: 20px;
  list-style-type: none;
  color: white;
  font-size: 25px;
  font-weight: 300;
  border-right: 2px white;
}
.separatorLines {
  display: inline-block;
  border-left: white solid 3px;
  margin-left: 15px;
  height: 25px;
  margin-top: 5px;
}
.searchBar {
  border-radius: 20px;
  background-color: #1a192d;
  border: 2px solid white;
  padding: 10px;
  width: 300px;
}
::placeholder {
  color: white;
  text-align: right;
  font-size: 20px;
}

a {
  text-decoration: none;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}
.navSeparator {
  border-left: 2px;
  border-right: 2px;
  border-color: white;
}
/* Acá termina el header */

/* Slideshow de index */
.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: 700px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.captionText {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 700;
  padding: 8px 12px;
  position: absolute;
  bottom: 700px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.slideshowItemMainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.slideshowItemContainer {
  background-color: #1a192d;
  opacity: 0.9;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  bottom: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.slideshowItemTitle {
  font-weight: 700;
  font-size: 24px;
  color: white;
}
.slideshowItemText {
  color: white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotDiv {
  text-align: center;
  align-content: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Fin del carousel Home */

/* Destacados Home*/
.destacados {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.destacadosTitle {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.destacadosGuide {
  display: flex;
  flex-direction: row;
}

.destacado {
  width: 100%;
  box-shadow: black 2px;
  text-align: center;
}

.destacadoImg {
  width: 70%;
}
.destacadoBrand {
  font-weight: bold;
  font-size: 18px;
}
.destacadoName {
  font-weight: 500;
}
.destacadosCuotas {
  font-size: 11px;
  font-weight: 500;
}
.destacadoPrecio {
  font-weight: 900;
  font-size: 18px;
}
.precioFinalDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.destacadoprecioFinal {
  color: red;
  font-size: 16px;
  font-weight: 900;
}
.prevDestacados {
  color: black;
}
.nextDestacados {
  color: black;
}
/* Fin de destacados Home*/
/* Categorías Home */
.categorias {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-around;
}
.homeCategoryImg {
  width: 300px;
}
.homeCategoryNameHolder {
  bottom: 150px;
  position: relative;
  left: 120px;
  height: 60px;
  width: 180px;
  background-color: black;
  opacity: 80%;
  color: white;
}
.homeCategoryName {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.homeCategoryNameOneLine {
  top: 15px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
/* Fin de categorías Home */
/* Footer */
footer {
  background-color: #1a192d;
  margin-top: 150px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}
.footerItemHolder {
  display: flex;
  flex-direction: row;
  text-align: justify;
}

.footerCategoryTitle {
  font-size: 15px;
  font-weight: 900;
  text-align: left;
}
.footerItem {
  font-size: 12px;
}
.footerItemEscaped {
  margin-left: 10px;
  font-size: 12px;
}
.footerIconText {
  display: flex;
  flex-direction: row;
}
.footerLocation {
  align-self: center;
}
/*Fin del footer */

.navegador {
  background-color: #16203d;
}

.links {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: space-around;
  margin: 0% 15%;
}

/*Estilos ProductDetail By Juli*/

.galeria-producto{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-around;
  width: 10%;
  float: left;
  text-align: center;
}

.item-description {
  box-sizing: content-box;
  width: 35%;
  padding: 5px;
  position: relative;
  height: 600px;

}
.precio-final{
  color: red;
  font-size: x-large;
  font-weight: 200 ;

}
.product-detail{
  display: flex;
 flex-direction: row;
 padding-left: 50px;
}

.agregar-al-carrito{
  color:#10325e
  
}
.payment-methods {
  margin-top: 100px;
  box-sizing: content-box;
  width: 24%;
  height: 500px;
  border: solid white 2px;
  border-radius: 35px;
  position: relative;
  vertical-align: bottom;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 2);
  text-align: center;
  align-items: end;
  border-radius: 35px;
}
.recomendados{
  text-align: center;
  color: rgb(175, 170, 170);
}

.division{
  color: lightgrey;
  align-items: center;
  width: 90%;
}

#green-check{
  color: green;
  float:left;
  width: 25px;
  padding: 10px 10px 10px 10px;
  height: 25px;
}

.div-payment-methods{
  background: linear-gradient(-45deg, #FFFFFD 8px, transparent 0), linear-gradient(45deg, #ffffff 8px, transparent 0);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #10325e;
  background-size: 10px 16px;
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  color: white;
  padding-top: 35px;
  font-size: 20px;
  border-radius: 31px 31px 0% 0%;

}
.quick_desc{
  color:grey;
}
.img-payment-methods{
  position: center;
}
.payment-conditions1{
  padding: 10px 10px 10px 10px;
  margin: 15px ;
  background-color: rgb(233, 233, 233);
  text-align: left;
  font-size: 15px;
}
.payment-conditions2{
  padding-left: 50px;
  text-align: left;
  font-size: 15px;
}
.calcular{
  border-radius:  0 20px 20px 0 ;
  border: 2px solid grey;
  width: 100px;
  height: 50px;
  color:grey
  background-color: white;
  float:center;
}
.no-se-cp{
  font-size: 12px;
  text-align: left;
  color:grey;
  margin-left: 20px;
}
.cp{
  border-radius:   20px 0 0 20px  ;
  width: 200px;
  height: 50px;
  float:center;
}
/*Fin Estilos ProductDetail By Juli*/