<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="styles/index.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="img\f-logo\favicon.png">
    <title>Jamming Store</title>
    <script src="https://kit.fontawesome.com/29e46bb5b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet" />
  </head>

  <body>
    <header>
        <img src="img/f-logo/logo-j-blanco.png" class="logo"/>
          <nav class="topNav">
            <ul class="headerShortcuts">
              <li class="headerLi"><a href="/home">Home</a></li>
              <span  class="separatorLines"></span>
              <li class="headerLi"><a href="/products">Productos</a></li>
              <span  class="separatorLines"></span>
              <li class="headerLi"><a href="/register">Registrarse</a></li>
              <span  class="separatorLines"></span>
              <li class="headerLi"><a href="/userProfile">Mi Cuenta</a></li>
              <span  class="separatorLines"></span>
              <li class="headerLi"><a href="/contact">Contacto</a></li>
            </ul>
          </div>
          </nav>
          <div>
            <input type="text" class="searchBar" placeholder="&#xF002;" style="font-family:Arial, FontAwesome"/>
          </div>
          <a href="*"><i class="fas fa-shopping-bag iconHeader"></i></a>
        </header>

    <div class= "navegador">
      <ul class="links m-left d-flex f-direction-r">
        <li class="m-right" ><a href="#">Cuerdas <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right" ><a href="#">Pianos y Teclados <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right" ><a href="#">Vientos <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right" ><a href="#">Baterías y Percusión <i class="fas fa-chevron-down"></i></a></li>
        <li class="m-right" ><a href="#">Sonido <i class="fas fa-chevron-down"></i></a></li>
      </ul>
    </div>        

    <div class="section-title">
        <p>Carrito de compras</p>
    </div>

    <div class=" d-flex f-direction-r j-content">
   
        <section class= "cart-description m-left d-flex f-direction-r j-content padding-top">
        <div class="centro">
            <p>Producto</p>
            <img src="img/f-productCart/foto-guitarra-CART.jpg" width=20%/>
            <span class="float-r position-text">Guitarra Alectrica American <br> Elite Stratocaster Estuche Usa</span>
        </div>

        <div class="centro">
            <p>Precio</p>
            <p class="position-text">$384.075,58</p>
        </div>

        <div class="centro">
            <p>Cantidad</p>
            <p><input class="quantity position-text" type="number" min="1" max="10" value="1" name="form-0-quantuty"></p>
        </div>

        <div class="centro">
            <p>Total</p>
            <p class="position-text color-red">$384.075,58</p>
        </div>
          
            <i class="fas fa-trash-alt"></i>
        </section>

        <div class="total-cart d-flex f-direction-c">
            <p class="m-total font-weight">Total del Carrito</p>
            <p class="m-total color-gray">Subtotal<span class=" float-r font-weight color-black">$ 384.075,58</span></p>
            <p class="m-total m-botton color-gray">Envío</p>  
            <div class="d-flex f-direction-c align-items-end line-height m-total">
                <span><input class="radio-b" type="radio" name="envio" value="CABA">Envío CABA (en 24 hs.) $350</span>
                <span><input class="radio-b" type="radio" name="envio" value="DEPO">Retiro en el depósito (Lun a Vie de 11 a 15 hs.)</span>
                <span><input class="radio-b" type="radio" name="envio" value="GBA">Envío a Ciudad Autónoma de Buenos Aires $ 500</span>  
                </div> 
            <p class="text-end m-total font-weight">Cambiar dirección<i class="fas fa-chevron-down"></i></p> 
            <div class="divider"></div>
            <p class="m-total font-weight color-gray">TOTAL<span class="subtotal float-r font-weight color-black">$ 384.075,58</span></p>
            <button class="finalizar button-red font-weight" type="submit">FINALIZAR COMPRA</button> 
        </div>
    </div>


        <div class="cupon m-left">
            <p style= "margin-bottom: 10px">Cupón de descuento</p>
            <label for= "cupon-descuento"></label>
            <input class="completar" type="text" name="cupon-descuento" placeholder="Escribe el código...">
            <button class="aplicar button-red" type="submit">APLICAR</button>   
        </div>
        
        <div class="medios-pago m-left">
            <p style= "margin-bottom: 10px">Medios de Pago</p>
            <img src="img/f-productCart/tarjetas-CART.jpg" width=50%/> 
        </div>
        

    <footer>
         <div>
            <p class="footerCategoryTitle">Productos</p> 
            <div class="footerItemHolder">
            <p class="footerItem">Cuerdas</br>Pianos y Teclados</br>Vientos</p>
            <p class="footerItemEscaped">Baterías y Percusión</br>Sonido</p>
          </div>
          </div>
          <div>
            <p class="footerCategoryTitle">Atención</p>
            <p class="footerItem">Condiciones y Formas de Pago</br>Contacto</p>
          </div>
          <div>
            <p class="footerCategoryTitle">Contactános</p>
            <div class="footerItemHolder"></div>
            <div class="footerIconText"><i class="fas fa-phone-alt"></i> <p class="footerItemEscaped">+54 11 15-698-652</p></div>
            <div class="footerIconText"><i class="fas fa-envelope"></i> <p class="footerItemEscaped">jammingstore@gmail.com</p></div>
          </div>
        </div>
          <div class="footerLocation">
            <div class="footerIconText"><i class="fas fa-map-marker-alt"></i> <p class="footerItemEscaped">Depósito Loyola 145</br>CP 1414, Villa Crespo</p></div>
          </div>
    </footer>
    </body>
</html>