<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="styles/index.css" type="text/css" rel="stylesheet" />
    <title>Jamming Store</title>
    <link rel="icon" type="image/png" href="img\f-logo\favicon.png">
    <script src="https://kit.fontawesome.com/29e46bb5b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>

  <body>
    <header>
    <img src="img/f-logo/logo-j-blanco.png" class="logo"/>
      <nav class="topNav">
        <ul class="headerShortcuts">
          <li class="headerLi"><a href="/">Home</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="*">Productos</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/register">Registrarse</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/login">Mi Cuenta</a></li>
          <span  class="separatorLines"></span>
          <li class="headerLi"><a href="/contact">Contacto</a></li>
        </ul>
      </div>
      </nav>
      <div>
        <input type="text" class="searchBar" placeholder="&#xF002;" style="font-family:Arial, FontAwesome"/>
      </div>
      <a href="/productCart"><i class="fas fa-shopping-bag iconHeader"></i></a>
    </header>
    <div class= "navegador">
        <ul class="links m-left d-flex f-direction-r">
          <li><a href="#">Cuerdas</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Pianos y Teclados</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Vientos</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Baterías y Percusión</a><i class="fas fa-chevron-down"></i></li>
          <li><a href="#">Sonido</a><i class="fas fa-chevron-down"></i></li>
        </ul>
      </div> 
</body>

    <div class="section-title">
    <p>Guitarras/electricas</p>
    </div>
<section class="product-detail">
<div class="galeria-producto">
    <i class="fas fa-chevron-up"></i>
    <a><img src="img\f-productDetail\foto-chica-detail-1.jpg" ></a>
    <a><img src="img\f-productDetail\foto-chica-detail-2.jpg" ></a>
    <a><img src="img\f-productDetail\foto-chica-detail-3.jpg" ></a>
    <i class="fas fa-chevron-down"></i>
</div>

<div class="product">
 <a><img src="img\f-productDetail\foto-grande-0001.jpg" height="600px"></a>
</div>
<article class="item-description">
<div class="description">
  <div class="marca">
    <h2>FENDER</h2><br>
    <h3>Guitarra Electrica American Elite Stratocaster Estuche USA</h3><br>
    <div class="precio">
      <span class="cuotas">18 cuotas de</span>
      <span class="valor-cuotas">$21337,57.-</span><br>
      <span class="precio-final">$384.075,48</span><br>
    </div><br>
    <p class="quick_desc"> Cuerpo de Maple<br> Mastil de Arce<br>Forma de mástil compuesto moderno en 'C' a 'D'<br>22 trastes medium jumbo<br> Escala de 648mm<br>Cejilla de Hueso sintetico de 42,8mm</p>
    <div class="quantity_box"><br><br><br><br><br>
        <span>Cantidad:</span>
      <div class="product-qty">
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
  <div class="clearfix"> </div>
<div class="agregar-al-carrito">
  <input type="submit" value="Comprar">
</div>
</div>
</div>
</article>
<article class="payment-methods">
<div>
  
  <p class="div-payment-methods">MEDIOS DE PAGO</p><br>
  <div><img class="img-payment-methods" src="img\f-productDetail\tarjetas-detail.jpg"></div>
  <div class="payment-conditions1"><i id="green-check" class="fas fa-check"></i>
  <p >3,6, 12 y 18 cuotas sin interés<br>con todas las tarjetas bancarias.</p></div>
  <div class="payment-conditions2"><i id="green-check"  class="fas fa-check"></i>
  <p>5% OFF por pagos en 3 cuotas<br>sin interés.</p></div>
  <div class="payment-conditions1"><i id="green-check"  class="fas fa-check"></i>
  <p ></i>15% OFF abonando en efectivo.</p></div>
  <div><p class="no-se-cp"><i class="fas fa-truck"></i>Metodos de Envio</p>
  <input class="cp" type="text" placeholder="Tu Código Postal" value="Tu Código Postal">
  <input class="calcular" type="submit" value="CALCULAR">
  <div><p class="no-se-cp">No se mi codigo postal.</p></div>
  </div>
</article>
</section>
<hr class="division" >
<section class="destacados">
  <p class="destacadosTitle">RECOMENDADOS</p>
  <div class="destacadosGuide">
    <i class="fas fa-angle-left prevDestacados"></i>
  <article class="destacado">
    <img src="img\f-productDetail\recomendados-1.jpg" class="destacadoImg">
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$21.337,53</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$384.072,58</p>
    </div>
  </article>
  <article class="destacado">
    <img src="img\f-productDetail\recomendados-2.jpg" class="destacadoImg">
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$21.337,53</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$384.072,58</p>
    </div>
  </article>
  <article class="destacado">
    <img src="img\f-productDetail\recomendados-3.jpg" class="destacadoImg">
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$21.337,53</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$384.072,58</p>
    </div>
  </article>
  <article class="destacado">
    <img src="img\f-productDetail\recomendados-4.jpg" class="destacadoImg">
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$21.337,53</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$384.072,58</p>
    </div>
  </article>
  <article class="destacado">
    <img src="img\f-productDetail\recomendados-5.jpg" class="destacadoImg">
    <p class="destacadoBrand">FENDER</p>
    <p class="destacadoName">Guitarra Eléctrica American</br>Elite Stratocaster Estuche USA</p>
    <p class="destacadosCuotas">18 cuotas sin interés de</p>
    <p class="destacadoPrecio">$21.337,53</p>
    <div class="precioFinalDiv">
    <p style="font-size: 13px">Precio final: </p>
    <p class="destacadoprecioFinal">$384.072,58</p>
    </div>
  </article>
  
  <i class="fas fa-angle-right nextDestacados"></i>

</section>

<footer>
    <div>
    <p class="footerCategoryTitle">Productos</p> 
    <div class="footerItemHolder">
    <p class="footerItem">Cuerdas</br>Pianos y Teclados</br>Vientos</p>
    <p class="footerItemEscaped">Baterías y Percusión</br>Sonido</p>
  </div>
  </div>
  <div>
    <p class="footerCategoryTitle">Atención</p>
    <p class="footerItem">Condiciones y Formas de Pago</br>Contacto</p>
  </div>
  <div>
    <p class="footerCategoryTitle">Contactános</p>
    <div class="footerItemHolder"></div>
    <div class="footerIconText"><i class="fas fa-phone-alt"></i> <p class="footerItemEscaped">+54 11 15-698-652</p></div>
    <div class="footerIconText"><i class="fas fa-envelope"></i> <p class="footerItemEscaped">jammingstore@gmail.com</p></div>
  </div>
</div>
  <div class="footerLocation">
    <div class="footerIconText"><i class="fas fa-map-marker-alt"></i> <p class="footerItemEscaped">Depósito Loyola 145</br>CP 1414, Villa Crespo</p></div>
  </div>
  </footer>
</html>